*{margin: 0;}

h1{
    font-size: 85px;
    color: #b478de;
}

h3{
    color:#f3f4ff;
    font-size: 50px;
    margin:55px 0px 55px 0px;
}

p{
    color:#f3f4ff;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 212);
}

a:hover{
    text-decoration: underline;
}

body{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #2e1f39 ;
}

main{
    
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius: 15px;
    width:730px;
    height: 550px;
    margin-top: 50px;
    
    box-shadow: 0px 0px 35px rgb(221, 0, 255);
}

div{
    display:flex;
    flex-direction: row;
}

form{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}
article{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 50px;
}

article[class]{
    margin-left: 50px;
}

input[placeholder]{
    border:none;
    border-bottom: solid #f3f4ff;
    background-color: #2e1f39;
    color: #f3f4ff ;
    font-size: 20px ;
    margin-bottom: 30px;
}

input[value]{
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 90px;
    background-color: rgb(221, 0, 255);
    margin-bottom: 15px;
}


input[value]:hover{
    background-color: rgb(188, 4, 212);
}

input{
    outline: none;
}

label{
    margin-bottom: 5px;
    color: rgb(255, 0, 179);
}
